{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbvue/lib/css/mdb.min.css">
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
            <h2>Votación finalizada</h2>
            <h2 class="heading">Fecha y hora de inicio: [[start_date]]</h2>
            <h2 class="heading">Fecha y hora de fin: [[end_date]]</h2>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                            <th>Total:</th>
                            <td></td>
                            <td>[[total_votes]]</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="small d-flex flex-wrap col-12">
     
    <mdb-doughnut-chart
    class="col-6"
      :data="doughnutChartData"
      :options="doughnutChartOptions"
    
      :height="300"
    ></mdb-doughnut-chart>
  
    
    <mdb-bar-chart
    class="col-6"
      :data="barChartData"
      :options="barChartOptions"
      
      :height="300"
    ></mdb-bar-chart>

  </div>
            </div>
    
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdbvue/lib/index.js"></script>
    
    <script>
       
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            components:{
                mdbConteiner: mdbvue.mdbConteiner,
                mdbDoughnutChart: mdbvue.mdbDoughnutChart,
                mdbBarChart: mdbvue.mdbBarChart,
            },
             data: {
                voting: voting,
                 doughnutChartData: {
                  labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                  datasets: [
                    {
                      data: [300, 50, 100, 40, 120],
                      backgroundColor: [
                        "#F7464A",
                        "#46BFBD",
                        "#FDB45C",
                        "#949FB1",
                        "#4D5360"
                      ],
                      hoverBackgroundColor: [
                        "#FF5A5E",
                        "#5AD3D1",
                        "#FFC870",
                        "#A8B3C5",
                        "#616774"
                      ]
                    }
                  ]
                },
                doughnutChartOptions: {
                  responsive: false,
                  maintainAspectRatio: false
                },
                 barChartData: {
                  labels: [
                    "Red",
                    "Blue",
                    "Yellow",
                    "Green",
                    "Purple",
                    "Orange"
                  ],
                  datasets: [
                    {
                    label : "Nº de votos",
                      data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)"
                      ],
                      borderColor: [
                        "rgba(255,99,132,1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(255, 159, 64, 1)"
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                barChartOptions: {
                  responsive: false,
                  maintainAspectRatio: false,
                  scales: {
                    xAxes: [
                      {
                        barPercentage: 1,
                        gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ],
                    yAxes: [
                      
                      {
                      ticks: {
              beginAtZero: true
            },
                        gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ]
                  }
                }
            },
            beforeMount(){
                  let labels_chart= [];
                  let labels_bar_chart= [];
                  let data_chart= [];
                  let data_bar_chart= [];
                  let colors = [];
                  let hovers = [];
                  if (this.voting.postproc){
                  this.voting.postproc.forEach(element => {
                        labels_chart.push(element.option + ' (% de votos)');
                       labels_bar_chart.push(element.option + ' (nº de votos)');
                        let porcentaje = element.votes * 100/this.total_votes;
                        data_chart.push(porcentaje);
                        data_bar_chart.push(element.votes );
                        let color = this.dynamicColors();
                        colors.push(color+', 1)');
                        hovers.push(color+', 0.5)');
                    });
                this.doughnutChartData.datasets[0].data = data_chart;
                this.doughnutChartData.labels = labels_chart;
                this.doughnutChartData.datasets[0].backgroundColor =colors;
                this.doughnutChartData.datasets[0].hoverBackgroundColor =hovers;
                this.barChartData.datasets[0].data = data_bar_chart;
                this.barChartData.labels = labels_bar_chart;
                this.barChartData.datasets[0].backgroundColor =hovers;
                this.barChartData.datasets[0].borderColor =colors;
           } },
            computed:{
                start_date(){
                    let s_date = new Date(this.voting.start_date);
                    return s_date.toLocaleDateString('es-ES') +' '+s_date.toLocaleTimeString('es-ES');
                },
                end_date(){
                    let e_date = new Date(this.voting.end_date);
                    return e_date.toLocaleDateString('es-ES')+' '+e_date.toLocaleTimeString('es-ES');
                },
                total_votes(){
                    let res = 0 ;
                    if(this.voting.tally ){
                        res = this.voting.tally.length;
                    }
                    return res;
                }
            },
            methods:{
                 dynamicColors() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                  
                    return "rgba(" + r + "," + g + "," + b;
                },
            }
        })
      
        
    </script>
</body>
{% endblock %}
