{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbvue/lib/css/mdb.min.css">
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
          
                <div class="small d-flex flex-wrap col-12">
     

  
    
    <mdb-bar-chart
    class="col-6"
      :data="barChartData"
      :options="barChartOptions"
      
      :height="300"
    ></mdb-bar-chart>

  </div>
            </div>
    
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdbvue/lib/index.js"></script>
    
    <script>
       
        var votings = {{votings|safe}};
        var abstentions = {{abstentions|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            components:{
                mdbConteiner: mdbvue.mdbConteiner,
                mdbDoughnutChart: mdbvue.mdbDoughnutChart,
                mdbBarChart: mdbvue.mdbBarChart,
            },
             data: {
                votings: votings,
                abstentions: abstentions,
               
                 barChartData: {
                  labels: [
                    "Red",
                    "Blue",
                    "Yellow",
                    "Green",
                    "Purple",
                    "Orange"
                  ],
                  datasets: [
                    {
                    label : "Nº de votos",
                      data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)"
                      ],
                      borderColor: [
                        "rgba(255,99,132,1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(255, 159, 64, 1)"
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                barChartOptions: {
                  responsive: false,
                  maintainAspectRatio: false,
                  scales: {
                    xAxes: [
                      {
                        barPercentage: 1,
                        gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ],
                    yAxes: [
                      
                      {
                      ticks: {
              beginAtZero: true
            },
                        gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ]
                  }
                }
            },
            beforeMount(){
                 
                  this.barChartData.datasets.slice(0,1);
                    this.votings.forEach((voting, index) => {
                    
                    voting=JSON.parse(voting);
                  if (voting.postproc){
                  let labels_bar_chart= [];
                  let data_bar_chart= [];
                  let colors = [];
                  let hovers = [];
                  let total_votes = voting.tally.length+this.abstentions[index];
                  voting.postproc.forEach(element => {
                  data_bar_chart= [];
                  labels_bar_chart= [];
                       labels_bar_chart.push(element.option + ' (nº de votos)');
                        data_bar_chart.push(element.votes );
                        let color = this.dynamicColors();
                        colors.push(color+', 1)');
                        hovers.push(color+', 0.5)');
                    });
                labels_bar_chart.push('abstenciones'+ ' (nº de votos)');
                data_bar_chart.push(this.abstentions [index]);
                let color = this.dynamicColors();
                colors.push(color+', 1)');
                hovers.push(color+', 0.5)');
                let data= {};
                data.label =  "Nº de votos";   
                data.data= data_bar_chart ;
                data.backgroundColor= colors;
                data.borderColor= hovers;
                data.borderWidth=1;
                this.barChartData.datasets.push(data);
                this.barChartData.labels=labels_bar_chart;
           } })

           },
           
            methods:{
                 dynamicColors() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                  
                    return "rgba(" + r + "," + g + "," + b;
                },
            }
        })
      
        
    </script>
</body>
{% endblock %}
